@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  font-family: sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding: 20px;
  background-color: #dad7d8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
}

.company-info {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.table-of-contents {
  padding: 10px;
  background-color: #a1a3a3;
  border: 2px solid #5d5f5f;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  font-weight: bold;
}

.table-of-contents ul {
  padding-left: 20px;
}

.table-of-contents a {
  color: #2c3e50; /* The desired font color */
  text-decoration: none; /* Removes the underline */
}

.table-of-contents a:hover {
  color: #0984e3; /* The desired font color when hovering */
}

.company-info {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}


.img-style {
  text-align: center;
}
  
li {
      text-align: justify;
}

.content-header-box{
  background-color:#dad7d8; 
  padding: 10px; 
  color:#2d3436; 
  border-radius: 10px;
}

.sub-content-header-box{
  background-color:#f2f0f1; /* Lighter shade of #dad7d8 */
  color:#757575; /* Lighter shade of #2d3436 */
  border-radius: 10px;
  padding: 10px; 
  margin-left: 50px; /* Add left padding for indent */
}

.main-content {
  padding-left: 320px;
  padding-right: 20px;
}

.separator {
  position: fixed;
  top: 0px;
  left: 290px;
  bottom: 0;
  border-left: 2px solid #5d5f5f;
}

.normal-paragraph {
  color: #2d3436;
  padding-left: 10px;
  text-align: justify;
}
  
.custom-paragraph {
  color: #2d3436;
  padding-left: 10px;
  text-align: justify;
}

.custom-paragraph::first-line {
  text-indent: 60px;
}

.custom-paragraph::first-letter {
  font-size: 21px;
  font-weight: normal;
}
