@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width on small screens */
  padding: 20px;
  background-color: #dad7d8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
}

.company-info {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 200px; /* Limit maximum width on large screens */
}

.table-of-contents {
  padding: 10px;
  background-color: #a1a3a3;
  border: 2px solid #5d5f5f;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  font-weight: bold;
}

.table-of-contents ul {
  padding-left: 20px;
}

.table-of-contents a {
  color: #2c3e50; /* The desired font color */
  text-decoration: none; /* Removes the underline */
}

.table-of-contents a:hover {
  color: #0984e3; /* The desired font color when hovering */
}

.company-info {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}


.img-style {
  text-align: center;
}
  
li {
      text-align: justify;
}

.content-header-box{
  background-color:#dad7d8; 
  padding: 10px; 
  color:#2d3436; 
  border-radius: 10px;
}

.sub-content-header-box{
  background-color:#f2f0f1; /* Lighter shade of #dad7d8 */
  color:#757575; /* Lighter shade of #2d3436 */
  border-radius: 10px;
  padding: 10px; 
  margin-left: 30px; /* Add left padding for indent */
}

.main-content {
  padding-left: 320px;
  padding-right: 20px;
}

.separator {
  position: fixed;
  top: 0px;
  left: 290px;
  bottom: 0;
  border-left: 2px solid #5d5f5f;
}

.normal-paragraph {
  color: #2d3436;
  padding-left: 10px;
  text-align: justify;
}

.sub-content-paragraph{
  margin-left: 25px;
  color: #2d3436;
  padding-left: 10px;
  text-align: justify;
}
  
.custom-paragraph {
  color: #2d3436;
  padding-left: 10px;
  text-align: justify;
}

.custom-paragraph::first-line {
  text-indent: 60px;
}

.custom-paragraph::first-letter {
  font-size: 21px;
  font-weight: normal;
}


pre {
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-left: 3px solid #f36d33;
            color: #666;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1em;
            display: block;
            word-wrap: break-word;
}
/* For mobile devices */
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .separator {
    display: none;
  }

  .logo {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* For tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    width: 30%;
  }

  .main-content {
    padding-left: 40%;
    padding-right: 5%;
  }

  .separator {
    left: 35%;
  }

  .logo {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  img {
    width: 75%;
    height: auto;
  }
}

/* For desktop devices and above */
@media (min-width: 1024px) {
  .sidebar {
    width: 250px;
  }

  .main-content {
    padding-left: 320px;
    padding-right: 20px;
  }

  .separator {
    left: 290px;
  }

  .logo {
    width: 200px;
  }
  img {
    width: 50%;
    height: auto;
  }
}
